html{
    height: 100%;
}
body {
    font-family: cursive;

    font-style: normal;
    
    background: hsla(117, 100%, 96%, 1);

    background: linear-gradient(90deg, hsla(117, 100%, 96%, 1) 0%, hsla(203, 33%, 86%, 1) 100%, hsla(203, 33%, 86%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(117, 100%, 96%, 1) 0%, hsla(203, 33%, 86%, 1) 100%, hsla(203, 33%, 86%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(117, 100%, 96%, 1) 0%, hsla(203, 33%, 86%, 1) 100%, hsla(203, 33%, 86%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EDFFEC", endColorstr="#CFDEE7", GradientType=1 ); 
} 

@keyframes buttonColor {
    0% { background-color: #F0FFF0; }
    20% { background-color: #F5FFFA; }
    40% { background-color: #F8F8FF; }
    60% { background-color:  #FFFFE0; }
    80% { background-color: #FFFFF0; }
    100% { background-color: #F0FFF0; }
}
.experienceScore{
    display: flex;
    justify-content: center;
}
.codingButton {
    display: flex;
    justify-content: center;
    align-self:center;
    border: none;
    padding: 10px;
    border-radius:  15px;
    animation: buttonColor 6s infinite;
    font-size: 50px;
    padding: 20px;
    width: 400px;
}
.buttonAndScore{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 400px;  
}

.mainButtonPosition{
    display: flex;
    justify-content: end;
    margin-right: 50px;
    flex-wrap: nowrap;
}

#img_1{
    display:none;
    height: 100px;
}
.money {
    display: flex;
    justify-content: center;
    color: #055E0E;

}
.conventorAndMoney{
    display: flex;
    flex-direction: column;

}
.conventor {
    display: flex;
    justify-content: center;
    align-self: end;
    border: none;
    padding: 10px;
    border-radius:  15px;
    animation: buttonColor 6s infinite;
    font-size: 50px;
    padding: 20px;
    width: 400px;
}
.shop {
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to left, rgb(11, 136, 5), rgb(128, 227, 110));
}
.shopStyle {
    padding: 20px;
    letter-spacing: 0.2em;
    border-image: linear-gradient(20deg, #0ee038 38%, #034710 65%);
}
.shopButton {
    border: none;
    background-color: #FFFF99;
    padding: 15px;
    border-radius: 15px;
    font-size: 25px;
}